@model List<Material>

@{
    Layout = "_Subpages";
}
<h2 id="safety" style="margin-top:22px; margin-bottom:30px; text-align:center">IT-Sikkerheds Materiale</h2>
<div style="border-bottom: 4px dashed #111;">
    <!-- On tables -->
    <table class="table table-primary table-striped" style="margin-bottom:40px;">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Omhandler</th>
                <th scope="col">Læringsmål</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 6; i++)
            {
                <tr>
                    <th scope="row">@Model[i].Id</th>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Description</td>
                    <td><a href="@Model[i].Link">link</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h2 id="DataLake" style="margin-top:22px; margin-bottom:30px; text-align:center">Data Lake Materiale</h2>
<!-- On tables -->
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Navn på Link</th>
            <th scope="col">Omhandler</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 6; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@Model[i].Id</th>
                <td>@Model[i].Name</td>
                <td>@Model[i].Description</td>
                <td><a href="@Model[i].Link">link</a></td>
            </tr>
        }
    </tbody>
</table>