@model List<TechnicalTerms>
@{
    Layout = "_Subpages";
}
<h2 id="safety" style="margin-top:22px; margin-bottom:30px; text-align:center">IT-Sikkerhed Termer</h2>
<div style="border-bottom: 4px dashed #111;">
    <!-- On tables -->
    <table class="table table-primary table-striped" style="margin-bottom:40px;">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fagtermer</th>
                <th scope="col">Betydning</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < 52; i++)
            {
                <tr>
                    <th scope="row">@Model[i].Id</th>
                    <td>@Model[i].Term</td>
                    <td>@Model[i].Definition</td>
                </tr>
            }



        </tbody>
    </table>
</div>
<h2 id="DataLake" style="margin-top:22px; margin-bottom:30px; text-align:center">Data Lake Termer</h2>
<!-- On tables -->
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fagtermer</th>
            <th scope="col">Betydning</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 52; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@Model[i].Id</th>
                <td>@Model[i].Term</td>
                <td>@Model[i].Definition</td>
            </tr>
        }
    </tbody>
</table>


